<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
            background-color: lightblue;
            font-size: 120px;
            border:2px solid brown;
        }
        a{
            text-decoration: none;
            background-color: aqua;
            padding: 2px;
            margin-left: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <a href="{% url 'home'%}">home</a>
    <h1>welcome to about us page</h1>
</body>
</html>